body {
  padding-top: 80px;
  background: #f8f9fa;
  text-align: center;
}

/* WRAPPER */
.success-wrapper {
  max-width: 500px;
  margin: 100px auto;
}

/* CHECKMARK */
.checkmark-circle {
  width: 80px;
  height: 80px;
  background: #cf9b69;
  color: white;
  font-size: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px;

  animation: pop 0.5s ease;
}

@keyframes pop {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/* TEXT */
h1 {
  font-family: "Baskerville";
  color: #784e2c;
}

.sub-text {
  margin-bottom: 20px;
}

/* DETAILS BOX */
.details-box {
  background: white;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/* BUTTON */
.home-btn {
  display: inline-block;
  background: #cf9b69;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
}

.home-btn:hover {
  background: #a87848;
}
